<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>




    <% @posts.each do |post| %>
    
    <div class ="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%=link_to post.title, post %>
          </div>
          <div class="article-body">
            <%= post.name %>
          </div>
          <div class="article-body">
            <%= post.content %>
          </div>
     
       <div class="article-actions">
        <%= link_to 'Edit', edit_post_path(post),class:"btn btn-xs btn-primary" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-xs btn-danger" %>
        </div>
      </div>
      </div>      
    </div>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
